/**********************
  ALL
*********************/

body {
  background-color: #fdfde9;
}

a {
  text-decoration: none;
  color: #273e6d;
}

a:hover {
  color: #d75241;
}

.button {
  margin: 0px 5px 15px 5px;
  font-family: Baskerville;
  border: solid 1px #273e6d;
  color: #273e6d;
}

.button:hover {
  border: solid 1px #d75241;
  color: #d75241;
}

/***********
  SIGNIN PAGE
***********/

#signin-container {
  width: 25%;
  height: 250px;
  margin: 10% auto;
  text-align: center;
}


/***********
  HEADER
***********/

.header-container {
  height: 20%;
  background-color: rgba(39,62,109,0.1);
}

#header-logo {
  margin: 2% 0 0 2%;
  width: 10%;
}

#welcome-message {
  font-size: 1.5em;
  font-family: Baskerville;
}

.sign-links {
  text-align: right;
  vertical-align: baseline;
}

.sign-links a{
  font-size: 1.5em;
  font-weight: 600;
  margin: 0px 10px;
}

#sign-out-link {
  font-size: 1em;
  cursor: pointer;
}

/***********
  SEARCH BAR
***********/

.search-bar {
  text-align: center;
}

#search-bar-label {
  margin-top: 5%;
  font-family: Georgia;
}

#search-input {
  font-family: Baskerville;
  border: solid 1px #273e6d;
}

#search-button {
  font-family: Baskerville;
  border: solid 1px #273e6d;
  color: #273e6d;
  background-color: white;
}

#search-button:hover {
  border: solid 1px #d75241;
  color: #d75241;
}

/***********
  MAIN TEASER
***********/

#teaser-preview{
  width: 100%;
  max-height:350px;
  overflow:hidden;
  text-overflow: ellipsis;
  content: "";
  background: -webkit-linear-gradient(#000, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#article-container {
  margin: auto;
  text-align: center;
  width: 75%;
  font-family: Baskerville;
  font-size: 1.2em;
}

#article-container img {
  width: 500px;
}

#main-teaser h1 {
  font-family: Georgia;
}

/***********
  MAIN ARTICLE
***********/

#reaction-buttons {
  display: inline;
}

#reaction-buttons img {
  width: 50px;
}

#reaction-buttons img:hover {
  opacity: 0.5;
}

/***********
  SOURCE
***********/

#source-link {
  text-decoration: underline;
}

/*#source-display {
  color: #d75241;
}*/
