body {
  background-color: #fdfde9;
}

a {
  text-decoration: none;
}


.header-container {
  margin: 0px;
}

#header-logo {
  width: 20%;
  padding: 20px;
}

#login-container {
  text-align: right;
  font-size: 80%;
}

#login-container a{
  margin: 0px 10px;
}

.search-bar {
  text-align: center;
}

#search-bar-label {
  font-family: Georgia;
}

#article-container {
  margin: auto;
  text-align: center;
  width: 75%;
  font-family: Baskerville;
}

#article-container img {
  width: 500px;
}

#main-teaser h1 {
  font-family: Georgia;
}

#reaction-buttons {
  display: inline;
}

#reaction-buttons img {
  width: 50px;
}
